---
version: "3.8"

services:
  foundry:
    image: felddy/foundryvtt:release
    hostname: bitd-alt-sheets-dev
    volumes:
      - type: bind
        source: ./foundry-data
        target: /data
    environment:
      - FOUNDRY_PASSWORD=${FVTT_PW}
      - FOUNDRY_USERNAME=${FVTT_USER}
      - FOUNDRY_ADMIN_KEY=test
    ports:
      - target: 30000
        published: 30000
        protocol: tcp