

@use "./variables/main" as *;

// Lightweight flex grid driven by CSS custom properties (mirrors the CSS-only edits)
.row {
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.row.reverse {
  flex-direction: row-reverse;
}

.row.natural-height {
  align-items: flex-start;
}

.row.flex-column {
  flex-direction: column;
}

.col,
:is(.col-xs, .col-sm, .col-md, .col-lg, .col-xl),
:is([class*="col-xs-"], [class*="col-sm-"], [class*="col-md-"], [class*="col-lg-"], [class*="col-xl-"]) {
  box-sizing: border-box;
  padding: var(--grid-gutter, $gutter);
}

.col,
:is(.col-xs, .col-sm, .col-md, .col-lg, .col-xl) {
  flex: 1 1 0;
  max-width: 100%;
}

:is([class*="col-xs-"], [class*="col-sm-"], [class*="col-md-"], [class*="col-lg-"], [class*="col-xl-"]) {
  flex: 0 0 var(--col-span, 100%);
  max-width: var(--col-span, 100%);
  margin-left: var(--col-offset, 0);
}

.col-xs-1 { --col-span: var(--col-1); }
.col-xs-2 { --col-span: var(--col-2); }
.col-xs-3 { --col-span: var(--col-3); }
.col-xs-4 { --col-span: var(--col-4); }
.col-xs-5 { --col-span: var(--col-5); }
.col-xs-6 { --col-span: var(--col-6); }
.col-xs-7 { --col-span: var(--col-7); }
.col-xs-8 { --col-span: var(--col-8); }
.col-xs-9 { --col-span: var(--col-9); }
.col-xs-10 { --col-span: var(--col-10); }
.col-xs-11 { --col-span: var(--col-11); }
.col-xs-12 { --col-span: var(--col-12); }
.col-xs-offset-1 { --col-offset: var(--col-1); }
.col-xs-offset-2 { --col-offset: var(--col-2); }
.col-xs-offset-3 { --col-offset: var(--col-3); }
.col-xs-offset-4 { --col-offset: var(--col-4); }
.col-xs-offset-5 { --col-offset: var(--col-5); }
.col-xs-offset-6 { --col-offset: var(--col-6); }
.col-xs-offset-7 { --col-offset: var(--col-7); }
.col-xs-offset-8 { --col-offset: var(--col-8); }
.col-xs-offset-9 { --col-offset: var(--col-9); }
.col-xs-offset-10 { --col-offset: var(--col-10); }
.col-xs-offset-11 { --col-offset: var(--col-11); }
.col-xs-offset-12 { --col-offset: var(--col-12); }

.row.start-xs { justify-content: flex-start; }
.row.center-xs { justify-content: center; }
.row.end-xs { justify-content: flex-end; }
.row.top-xs { align-items: flex-start; }
.row.middle-xs { align-items: center; }
.row.bottom-xs { align-items: flex-end; }
.row.around-xs { justify-content: space-around; }
.row.between-xs { justify-content: space-between; }
.first-xs { order: -1; }
.last-xs { order: 1; }

@media #{$breakpoint-sm-up} {
  .col-sm { flex: 1 1 0; }
  [class*="col-sm-"] { flex: 0 0 var(--col-span, 100%); max-width: var(--col-span, 100%); }
  .col-sm-1 { --col-span: var(--col-1); }
  .col-sm-2 { --col-span: var(--col-2); }
  .col-sm-3 { --col-span: var(--col-3); }
  .col-sm-4 { --col-span: var(--col-4); }
  .col-sm-5 { --col-span: var(--col-5); }
  .col-sm-6 { --col-span: var(--col-6); }
  .col-sm-7 { --col-span: var(--col-7); }
  .col-sm-8 { --col-span: var(--col-8); }
  .col-sm-9 { --col-span: var(--col-9); }
  .col-sm-10 { --col-span: var(--col-10); }
  .col-sm-11 { --col-span: var(--col-11); }
  .col-sm-12 { --col-span: var(--col-12); }
  .col-sm-offset-1 { --col-offset: var(--col-1); }
  .col-sm-offset-2 { --col-offset: var(--col-2); }
  .col-sm-offset-3 { --col-offset: var(--col-3); }
  .col-sm-offset-4 { --col-offset: var(--col-4); }
  .col-sm-offset-5 { --col-offset: var(--col-5); }
  .col-sm-offset-6 { --col-offset: var(--col-6); }
  .col-sm-offset-7 { --col-offset: var(--col-7); }
  .col-sm-offset-8 { --col-offset: var(--col-8); }
  .col-sm-offset-9 { --col-offset: var(--col-9); }
  .col-sm-offset-10 { --col-offset: var(--col-10); }
  .col-sm-offset-11 { --col-offset: var(--col-11); }
  .col-sm-offset-12 { --col-offset: var(--col-12); }
  .row.start-sm { justify-content: flex-start; }
  .row.center-sm { justify-content: center; }
  .row.end-sm { justify-content: flex-end; }
  .row.top-sm { align-items: flex-start; }
  .row.middle-sm { align-items: center; }
  .row.bottom-sm { align-items: flex-end; }
  .row.around-sm { justify-content: space-around; }
  .row.between-sm { justify-content: space-between; }
  .first-sm { order: -1; }
  .last-sm { order: 1; }
}

@media #{$breakpoint-md-up} {
  .col-md { flex: 1 1 0; }
  [class*="col-md-"] { flex: 0 0 var(--col-span, 100%); max-width: var(--col-span, 100%); }
  .col-md-1 { --col-span: var(--col-1); }
  .col-md-2 { --col-span: var(--col-2); }
  .col-md-3 { --col-span: var(--col-3); }
  .col-md-4 { --col-span: var(--col-4); }
  .col-md-5 { --col-span: var(--col-5); }
  .col-md-6 { --col-span: var(--col-6); }
  .col-md-7 { --col-span: var(--col-7); }
  .col-md-8 { --col-span: var(--col-8); }
  .col-md-9 { --col-span: var(--col-9); }
  .col-md-10 { --col-span: var(--col-10); }
  .col-md-11 { --col-span: var(--col-11); }
  .col-md-12 { --col-span: var(--col-12); }
  .col-md-offset-1 { --col-offset: var(--col-1); }
  .col-md-offset-2 { --col-offset: var(--col-2); }
  .col-md-offset-3 { --col-offset: var(--col-3); }
  .col-md-offset-4 { --col-offset: var(--col-4); }
  .col-md-offset-5 { --col-offset: var(--col-5); }
  .col-md-offset-6 { --col-offset: var(--col-6); }
  .col-md-offset-7 { --col-offset: var(--col-7); }
  .col-md-offset-8 { --col-offset: var(--col-8); }
  .col-md-offset-9 { --col-offset: var(--col-9); }
  .col-md-offset-10 { --col-offset: var(--col-10); }
  .col-md-offset-11 { --col-offset: var(--col-11); }
  .col-md-offset-12 { --col-offset: var(--col-12); }
  .row.start-md { justify-content: flex-start; }
  .row.center-md { justify-content: center; }
  .row.end-md { justify-content: flex-end; }
  .row.top-md { align-items: flex-start; }
  .row.middle-md { align-items: center; }
  .row.bottom-md { align-items: flex-end; }
  .row.around-md { justify-content: space-around; }
  .row.between-md { justify-content: space-between; }
  .first-md { order: -1; }
  .last-md { order: 1; }
}

@media #{$breakpoint-lg-up} {
  .col-lg { flex: 1 1 0; }
  [class*="col-lg-"] { flex: 0 0 var(--col-span, 100%); max-width: var(--col-span, 100%); }
  .col-lg-1 { --col-span: var(--col-1); }
  .col-lg-2 { --col-span: var(--col-2); }
  .col-lg-3 { --col-span: var(--col-3); }
  .col-lg-4 { --col-span: var(--col-4); }
  .col-lg-5 { --col-span: var(--col-5); }
  .col-lg-6 { --col-span: var(--col-6); }
  .col-lg-7 { --col-span: var(--col-7); }
  .col-lg-8 { --col-span: var(--col-8); }
  .col-lg-9 { --col-span: var(--col-9); }
  .col-lg-10 { --col-span: var(--col-10); }
  .col-lg-11 { --col-span: var(--col-11); }
  .col-lg-12 { --col-span: var(--col-12); }
  .col-lg-offset-1 { --col-offset: var(--col-1); }
  .col-lg-offset-2 { --col-offset: var(--col-2); }
  .col-lg-offset-3 { --col-offset: var(--col-3); }
  .col-lg-offset-4 { --col-offset: var(--col-4); }
  .col-lg-offset-5 { --col-offset: var(--col-5); }
  .col-lg-offset-6 { --col-offset: var(--col-6); }
  .col-lg-offset-7 { --col-offset: var(--col-7); }
  .col-lg-offset-8 { --col-offset: var(--col-8); }
  .col-lg-offset-9 { --col-offset: var(--col-9); }
  .col-lg-offset-10 { --col-offset: var(--col-10); }
  .col-lg-offset-11 { --col-offset: var(--col-11); }
  .col-lg-offset-12 { --col-offset: var(--col-12); }
  .row.start-lg { justify-content: flex-start; }
  .row.center-lg { justify-content: center; }
  .row.end-lg { justify-content: flex-end; }
  .row.top-lg { align-items: flex-start; }
  .row.middle-lg { align-items: center; }
  .row.bottom-lg { align-items: flex-end; }
  .row.around-lg { justify-content: space-around; }
  .row.between-lg { justify-content: space-between; }
  .first-lg { order: -1; }
  .last-lg { order: 1; }
}

@media #{$breakpoint-xl-up} {
  .col-xl { flex: 1 1 0; }
  [class*="col-xl-"] { flex: 0 0 var(--col-span, 100%); max-width: var(--col-span, 100%); }
  .col-xl-1 { --col-span: var(--col-1); }
  .col-xl-2 { --col-span: var(--col-2); }
  .col-xl-3 { --col-span: var(--col-3); }
  .col-xl-4 { --col-span: var(--col-4); }
  .col-xl-5 { --col-span: var(--col-5); }
  .col-xl-6 { --col-span: var(--col-6); }
  .col-xl-7 { --col-span: var(--col-7); }
  .col-xl-8 { --col-span: var(--col-8); }
  .col-xl-9 { --col-span: var(--col-9); }
  .col-xl-10 { --col-span: var(--col-10); }
  .col-xl-11 { --col-span: var(--col-11); }
  .col-xl-12 { --col-span: var(--col-12); }
  .col-xl-offset-1 { --col-offset: var(--col-1); }
  .col-xl-offset-2 { --col-offset: var(--col-2); }
  .col-xl-offset-3 { --col-offset: var(--col-3); }
  .col-xl-offset-4 { --col-offset: var(--col-4); }
  .col-xl-offset-5 { --col-offset: var(--col-5); }
  .col-xl-offset-6 { --col-offset: var(--col-6); }
  .col-xl-offset-7 { --col-offset: var(--col-7); }
  .col-xl-offset-8 { --col-offset: var(--col-8); }
  .col-xl-offset-9 { --col-offset: var(--col-9); }
  .col-xl-offset-10 { --col-offset: var(--col-10); }
  .col-xl-offset-11 { --col-offset: var(--col-11); }
  .col-xl-offset-12 { --col-offset: var(--col-12); }
  .row.start-xl { justify-content: flex-start; }
  .row.center-xl { justify-content: center; }
  .row.end-xl { justify-content: flex-end; }
  .row.top-xl { align-items: flex-start; }
  .row.middle-xl { align-items: center; }
  .row.bottom-xl { align-items: flex-end; }
  .row.around-xl { justify-content: space-around; }
  .row.between-xl { justify-content: space-between; }
  .first-xl { order: -1; }
  .last-xl { order: 1; }
}
