.acquaintance {
  line-height: 1em;
  padding: 2px 5px;

  .standing-toggle {
    padding: 1px;
    margin-right: 3px;
    width: 1.2em;
    text-align: center;

    &.red-icon {
      color: #880000;
    }

    &.green-icon {
      color: #006600;
    }
  }
}
