@use "../variables" as *;
@use "../mixin" as *;

@mixin attributes-sheet {
& {
  //   display: flex;
  //   justify-content: space-between;
  //   justify-items: stretch;
  //   max-width: 600px;
  background-color: rgba(0, 0, 0, 0.1);
  column-gap: 0.5rem;

  header.full-bar {
    @include full-bar-header();
  }

  .attribute {
    flex-grow: 1;

    .action {
      padding: 0 5px;
      @include custom_radio(1em, 1em);

      justify-content: flex-start;
      align-items: stretch;

      .attribute-skill-label {
        font-weight: bold;
        font-variant: small-caps;
        padding: 3px 0;
        margin-left: 0.4em;
        line-height: 0.8em;
      }

      label {
        margin: 2px;
        border: 1px solid #666666;
        box-sizing: border-box;
        position: relative;
        &:not(.item):first-of-type::after {
          content: "";
          display: inline-block;
          height: 150%;
          width: 1%;
          border-right: 1px solid rgba(0, 0, 0, 0.5);
          position: absolute;
          right: -3px;
          top: -3px;
        }
      }
    }
    input.zero {
      display: none;
    }
  }
  .harm-list {
    text-align: center;
    margin-top: 0.3rem;

    span.dash:last-child {
      display: none;
    }
    .harm-block {
      color: #fff !important;
      position: relative;
      font-size: 1rem;
      align-items: center;
      line-height: 1em;
      padding: 0.1em 0 0.2em;
      &.light {
        background-color: #197e00;
      }
      &.medium {
        background-color: #957c00;
      }
      &.heavy {
        background-color: #a00000;
      }
      i {
        flex-grow: 0;
        margin: 0.2em;
      }
      .harm {
        white-space: nowrap;
        text-decoration: underline;
        font-family: Kirsty, serif;
      }
    }
  }
}
}
