
/*
 * General Styles - Redesign
 */

&{
  min-width: 800px;
  min-height: 275px;
}

.sheet-wrapper{
  position: relative;
  margin: 5px;
  font-family: "Crimson Text", serif;

  input[type="checkbox"]{
    width: 1em;
    height: 1em;
  }

  .rollable-text {
    transition: color $transition-period;
  }
  .rollable-text:hover {
    cursor: pointer;
    color: $red;
  }

  a.add-button{
    margin-left: 5px;
    font-size: .9rem;
  }

  a.delete-button{
    position: absolute;
    right: 5px;
    top: 2px;
    font-size: .6rem;
  }

  [contenteditable]{
    user-select: auto !important;
    text-decoration: underline;

    &:active, &:focus{
      background-color: rgba(255,255,255,0.5);
      border: none;
      border-radius: 3px;
    }
  }

  .hover-details, .hover-term{
    cursor: help;
    color: darken($red, 30%);
    font-weight: bold;
    text-decoration: underline;
  }

  ul.diamond{
    list-style: none;
    li{
      position: relative;
      &:after {
        content: '';
        height: .4em;
        width: .4em;
        background: $almost_black;
        display: block;
        position: absolute;
        transform: rotate(45deg);
        top: .45em;
        left: -1em;
      }
    }
  }

  @at-root {
    .add-existing-dialog{
      .items-list{
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
      }
      .item-group {
        background-color: rgba(255, 255, 255, 0.4);
        vertical-align: top;
        flex-grow: 1;
        margin: .5px;
        padding: .5em;

        header {
          background-color: $almost-black;
          padding: .1em .25em;
          width: 100%;
          font-size: 2em;
          font-family: Kirsty, serif;
          color: $almost_white;
        }
      }
    }
  }

  #context-menu ol li *{
    vertical-align: initial;
  }

  .clickable-edit{
    text-decoration: underline;
  }

  .rollable-text{
    cursor: pointer;
  }

  input[type=text]{
    width: auto;
    border: 0;
  }
  .edit-only{
    display: none;
  }
  .non-edit{
    display: initial;
  }

  header.full-bar{
    background-color: $almost_black;
    color: $almost_white;
    padding: 3px;
    width: 100%;
    font-family: Kirsty, serif;
    font-size: 1rem;
    position: relative;
    margin-bottom: 5px;
    line-height: 1em;


    .stripe-tooth-body{
      &.right{
        position: absolute;
        top: 1px;
        right: 1px;
        @include toothradio(10px, 25px, "assets/teeth/xptooth-white.png", "assets/teeth/xptooth-red.png");
      }
      &.stress{
        position: absolute;
        top: 1px;
        right: 1px;
        @include toothradio(10px, 25px, "assets/teeth/xptooth-white.png", "assets/teeth/xptooth-red.png");
      }
    }
  }

  .sheet-toggles{
    position: absolute;
    top: -10px;
    right: -10px;

    >span{
      display: inline-block;
      padding: 4px;
      margin: 0 5px;
    }

    span.toggle-expand{
      background: #0058cc;
      color: rgba(255, 255, 255, 0.6);
      cursor: pointer;
      border-radius: 3px;
      .fa-expand{ display: none; }
      .fa-compress{ display: initial; }
    }

    @at-root .can-expand{
      span.toggle-expand{
        .fa-expand{ display: initial !important; }
        .fa-compress{ display: none !important; }
      }
    }

    span.toggle-allow-edit{
      cursor: pointer;
      background: #008000;
      color: rgba(255, 255, 255, 0.6);
      border-radius: 3px;

      &:hover{
        color: #fff;
      }

      i{
        width: 100%;
        text-align: center;
        padding: 4px 6px;
      }
      .fa-lock-open {
        display: none;
      }
    }
  }


  &.allow-edit{
    //.edit-only{
    //  display: initial;
    //}
    //.non-edit{
    //  display: none;
    //}
    .sheet-toggles{
      .toggle-allow-edit{
        background-color: #800000;
        .fa-lock-open {
          display: inline-block;
        }
        .fa-lock {
          display: none;
        }
      }
    }
  }

  .minimized-view{
    display: grid;
    height: 235px;
    //background-color: rgba(255,0,0,0.1);
    grid-template-columns: auto 1fr;
    column-gap: 1em;
    grid-template-rows: 2fr 1fr 1fr 1fr 4fr;
    grid-template-areas:
        "portrait main-row"
        "portrait sub-row-1"
        "portrait sub-row-2"
        "portrait sub-row-3"
        "portrait actions";

    .character-portrait{
      $portrait-size: 200px;
      grid-area: portrait;
      place-self: center;
      width: $portrait-size;
      height: $portrait-size;
      flex-shrink: 0;
      flex-grow: 0;
      position: relative;

      .portrait{
        border-radius: 100px;
        overflow: hidden;
        border: 6px solid $gray;
        width: 100%;
        height: 100%;
        position: relative;
        top: -10px;

        > img{
          width:100%;
          height:100%;
          object-fit: cover;
          overflow: hidden;
          border: 0;
          border-radius: 50%;
          box-shadow: 0 0 20px rgba(0,0,0,0.3) inset;
        }
      }

      .status-buttons{
        position: absolute;
        top: 15px;
        left: -15px;
        background-color: rgba(224, 222, 210, 0.8);
        border-radius: 50px;
        box-sizing: border-box;
        padding: 5px 5px;
        z-index: 500;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        >div{
          overflow: visible;
          position: relative;
        }
        >div:not(:last-of-type){
          margin-bottom: 20px;
        }

        .coins-box{
          @include css_popup(30px, 30px, 250px, 50px);

          > div{
            display: inline-block;
          }
          .mini-view{
            background-repeat: no-repeat;
            background-image: url(assets/icons/coins.png);
            background-size: contain;

            .coin-values{
            }

          }

          .full-view{
            @import 'coins.scss';
          }

          &.open{
            .full-view{
              .coins{
                display: flex;
                justify-content: space-between;
                .hand, .stash{
                  display: inline-block;
                  text-align: left;
                }
              }
            }
          }
        }

        .harm-box{
          @include css_popup(30px, 30px, 550px, 350px);
          .mini-view{
            background-repeat: no-repeat;
            background-image: url(assets/icons/harm.png);
            background-size: contain;
            &.harm-1{background-image: url(assets/icons/harm-1.png);}
            &.harm-1-2{background-image: url(assets/icons/harm-1-2.png);}
            &.harm-1-3{background-image: url(assets/icons/harm-1-3.png);}
            &.harm-1-2-3{background-image: url(assets/icons/harm-1-2-3.png);}
            &.harm-2{background-image: url(assets/icons/harm-2.png);}
            &.harm-2-3{background-image: url(assets/icons/harm-2-3.png);}
            &.harm-3{background-image: url(assets/icons/harm-3.png);}

            .harm-effects{
              position: absolute;
              bottom: 4px;
              font-weight: bold;
              font-size: .9rem;
              font-family: "Crimson Text", serif;
              left: 0px;
              width: 100%;
              color: $almost-white;
            }

          }


          &.open{
            .full-view{
              .character-harm{
                display: grid;
                grid-template-columns: 1em repeat(6, 1fr);
                grid-template-rows: repeat(5, 1.6em);
                grid-column-gap: 1px;
                grid-row-gap: 1px;
                place-items: center;
                grid-template-areas:
                "empty header-harm header-harm header-harm header-harm header-effect header-healing"
                "rownum3 heavy heavy heavy heavy heavy-effect healing"
                "rownum2 medium1 medium1 medium2 medium2 medium-effect healing"
                "rownum1 light1 light1 light2 light2 light-effect healing"
                "armor armor armor armor armor armor armor";
                input[type=text]{
                  height: 100%;
                  width: 100%;
                  border-radius: 0;
                  background-color: darken($lightgray, 10%);
                  z-index: 10;
                }
                header{
                  width: calc(100% + 5px);
                  background-color: $almost_black;
                  color: $almost_white;
                }
                header.harm{grid-area: header-harm;}
                header.effect{grid-area: header-effect;}
                header.healing{grid-area: header-healing;}
                .rownum3{grid-area: rownum3;}
                .heavy{grid-area: heavy;}
                .effect-text.heavy{grid-area: heavy-effect;}
                .rownum2{grid-area: rownum2;}
                .medium1{grid-area: medium1;}
                .medium2{grid-area: medium2;}
                .effect-text.medium{grid-area: medium-effect;}
                .light1{grid-area: light1;}
                .light2{grid-area: light2;}
                .effect-text.light{grid-area: light-effect;}
                .healing-clock{
                  grid-area: healing;
                  padding-top: 25px;
                  @include clock(4, 100);
                  label i.nullifier{
                    position: absolute;
                    top: 15px;
                    right: 0px;
                  }
                }
                .rownum1{grid-area: rownum1;}
                .armor-use{grid-area: armor; text-align: right;}
                .effect-text{font-family: "Crimson Text", serif;font-size: .9rem;}
                .grid-lines{
                  background-color: $almost_black;
                  grid-area: 2 / 2 / 5 / 6;
                  width: 100%;
                  height: calc(100% - 1px);
                  z-index: 1;
                }
              }
            }
          }
        }

        .load-box {
          @include css_popup(30px, 30px, 100px, 50px);
          > div {
            display: inline-block;
          }

          .mini-view {
            background-repeat: no-repeat;
            background-image: url(assets/icons/backpack.png);
            background-size: contain;
          }

          .below-max{
            color: #006600;
          }
          .at-max{
            color: #e07f1a;
          }
          .over-max{
            color: #660000;
          }
        }
      }


      .stress-trauma-box{
        width: 100%;
        height: 2em;
        position: absolute;
        bottom: 10px;
        left: 0;

        .stress-bar{
          position: relative;
          z-index: 100;
        }

        .trauma-box{
          padding: 0 0 2px;
          position: relative;
          z-index: 1;
          .trauma-list{
            width: 100%;
            height: 100%;
            background-color: $lightgray;
            color: $almost_black;
            text-align: center;
            position: relative;
            top: -5px;
            padding-top: 5px;
            border-radius: 0 0 1em 1em;
            .trauma-item{
              pointer-events: all;
              display: inline-block;
              font-weight: bold;
              color: #660000;
              &:not(:last-of-type)::after {
                content: " \2022";
              }
            }
            .add_trauma{
              font-size: 1em;
            }

          }
        }

      }
    }

    .name-alias{
      font-family: Kirsty, serif;
      font-weight: bold;
      font-size: 3em;
      color: $almost_black;
      grid-area: main-row;

      .name{

      }

      .alias{
        font-size: .6em;
        font-weight: normal;
      }
    }

    .heritage-background{
      grid-area: sub-row-1;
    }

    .look{
      grid-area: sub-row-2;
    }

    .bio{
      border-bottom: 2px solid $almost_black;
    }

    .abilities-list{
      grid-area: sub-row-3;

      //span:not(:last-of-type)::after{
      //  content: " \2022 ";
      //  text-decoration: none;
      //  color: $almost_black;
      //  font-weight: normal;
      //  display: inline-block;
      //}
    }

    .attributes-actions{
      grid-area: actions;
      display: flex;
      justify-content: space-between;
      justify-items: stretch;
      max-width: 600px;

      .attribute{
        flex-grow: 1;
        margin: 0 5px 10px 5px;

        .action{
          padding: 0 5px;
          @include custom_radio(1em, 1em);
          justify-content: flex-start;
          align-items: stretch;

          .attribute-skill-label{
            font-weight: bold;
            font-variant: small-caps;
            padding: 3px 0;
            margin-left: .4em;
            line-height: 0.8em;

          }

          label{
            margin: 2px;
            border: 1px solid #666666;
            box-sizing: border-box;
            position: relative;
            &:first-of-type::after{
              content: "";
              display: inline-block;
              height: 150%;
              width: 1%;
              border-right: 1px solid rgba(0,0,0,0.5);
              position: absolute;
              right: -3px;
              top: -3px;
            }
          }
        }
        input.zero{
          display: none;
        }
      }
    }
  }

  .tab-space{
    nav.tabs{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 1em;
      grid-template-rows: auto;
      grid-template-areas:
          "tab1 tab2 ";
    }

    .tab-item{
      flex-grow: 0;
      display: inline-flex;
      justify-content: space-between;
      align-items: flex-end;
      background-color: $lightgray;
      border-radius: 20px 20px 0 0;
      font-family: Kirsty, serif;
      text-transform: capitalize;
      padding: 5px 15px ;
      font-size: 2.6em;

      select{
        font-family: Kirsty;
        font-size: 1em;
        height: 80%;
        position: relative;
        top: -6px;
        left: 2px;
      }

      > div{
        margin: 5px 10px;
      }

      &.playbook{
        grid-area: tab1;
      }

      //&.downtime{
      //  grid-area: tab2;
      //}

      &.notes{
        grid-area: tab2;
      }


      .playbook-description{
        font-family: "Crimson Text", serif;
        font-size: .4em;
        font-variant: small-caps;
        font-weight: bold;
        color: $darkgray;
        text-align: center;
      }

      &.active{
        margin-bottom: 0;
      }

      &:not(.active){
        background-color: rgba($lightgray, 0.5);
      }

    }
    .tab-content{
      flex-basis: 100%;

      .tab{

        .playbook{
          display: grid;
          align-items: stretch;
          justify-items: stretch;
          grid-template-columns: 2fr 1em 1fr 1fr;
          grid-template-rows: repeat(3, min-content);
          grid-template-areas:
              "abilities gutter pb-items all-items"
              "abilities gutter friends all-items"
              "abilities gutter xp-notes xp-notes";

          select{
            font-family: Kirsty, serif;
            text-transform: capitalize;
            font-size: 2.6em;
            border: none;
            background-color: #f00;
          }

          &::after{
            content: "";
            background: $lightgray;
            grid-area: gutter;
            height: 100%;
            width: 100%;
          }

          section{
            padding-bottom: .75em;
          }

          .abilities{
            grid-area: abilities;
            background: $lightgray;
            padding-bottom: 1em;
            .ability-list{
              .ability-block{
                display: flex;
                align-items: flex-start;
                position: relative;
                padding: 5px;
                &:nth-child(even){
                  background-color: rgba(255,255,255,0.3);
                }

                input{
                  margin: 0;
                  margin-right: 3px;
                  position: relative;

                  &.offset{
                    margin-top: -3px;
                  }
                }
              }
              label{
                margin: 0;
                line-height: .8em;
                font-size: 1.2em;
                margin-bottom: 6px;
                padding-right: 1em;

                .ability-name{
                  font-weight: bold;
                  font-variant: small-caps;
                }

                .ability-description p{
                  display: inline;
                }
              }
            }
          }

          .playbook-items{
            grid-area: pb-items;
            background: $lightgray;
          }

          .item-list{
            font-size: 1.2em;
            .free-item{
              font-style: italic;
            }
            .item-block{
              padding: 2px 5px;
              //padding-left: 5px;
              //padding-right: 1em;
              //padding-bottom: .15em;
              position: relative;
              line-height: 0;
              @at-root .allow-edit .item-block:nth-child(even){
                background-color: rgba(0,0,0,0.1);
              }
              .checkbox{
                position: relative;
                display: inline-block;
                width: 100%;
              }
              .item-name{
                width: 100%;
                position: relative;
                line-height: 1em;
              }


              //this is probably not very robust. Figure something else out.
              .join-line {
                border: 1px solid $darkgray;
                width: 1em;
                display: inline-block;
                height:0px;
                margin: 0 -.5em;
                top: calc(-0.5em + 3px);
                position: relative;
                z-index: 0;

              }

              *{
                //vertical-align: bottom;
              }

              input{
                margin-left: 0;
                position: relative;
                z-index: 10;
                bottom: 0px;
              }
            }
          }

          .friends-rivals{
            grid-area: friends;
            background: $lightgray;
            line-height: 0;

            font-size: 1.2em;
            .acquaintance{
              line-height: 1em;
              padding: 2px 5px;
              i{
                padding: 1px;
                margin-right: 3px;
                width: 1.2em;
                text-align: center;
                &.red-icon{
                  color: #880000;
                }

                &.green-icon{
                  color: #006600;
                }
              }
            }
          }

          .all-items{
            grid-area: all-items;
          }

          .xp-notes{
            grid-area: xp-notes;
            background: $lightgray;
            font-size: 1.2em;
            p{
              line-height: 1em;
            }
            ul{
              list-style-type: square;
              padding-right: 5px;
              li{
                font-style: italic;
              }
            }
          }

          header.full-bar{
            background-color: $darkgray;
            color: $almost_white;
          }
        }

        &.downtime{
          line-height: 1em;
          h3{
            text-align: center;
            font-family: Kirsty, serif;
            font-size: 2em;
            margin: .5em;
          }
          header{
            width: 100%;
            font-family: Kirsty, serif;
            background-color: $almost_black;
            color: $almost_white;
            padding: 3px;
            text-align: center;
            .header-row{
              display: flex;
              justify-content: space-evenly;
              margin: 2px 0;
            }
          }
          .downtimeWrapper{
            display: flex;
            table{
              tr{
                text-align: center;
                td, th{
                  padding: 3px;
                }
                th{
                  background-color: $almost-black;
                  color: $almost-white;
                }
              }
            }
            .column{
              display: flex;
              flex-direction: column;
              width: 50%;
              section{
                background-color: $lightgray;
                p{
                  text-align: center;
                }
                ul{
                  padding-right: 1em;
                  li{
                    margin-bottom: 3px;
                  }
                }
              }
            }
          }
        }

        .character-notes-area{
          background-color: $lightgray;
          box-sizing: border-box;
          padding: 10px;
          font-size: 1.2em;
          height: 650px;
          textarea{
            height: 600px;
          }
        }
      }
    }
  }
}
