@use "../variables" as *;
@use "../mixin" as *;

textarea {
  margin-top: 10px;
  margin-bottom: 20px;
}

.debug-toggle {
  opacity: 0.1;

  &.on {
    opacity: 0.75;
  }
}

.pointer {
  cursor: pointer;
}

section.flex {
  margin-bottom: 10px;
  display: flex;
  //flex-direction: column;
  justify-content: space-between;

  > *:not(.label-stripe) {
    margin-right: 10px;

    &:last-child {
      margin-right: 0px;
    }
  }

  .grow-one {
    flex-grow: 1;
  }

  .grow-two {
    flex-grow: 2;
  }

  &.experience {
    margin-bottom: 0px;
    justify-content: center;
  }
}

.flex-lazy {
  flex-grow: 0;
  flex-shrink: 0;
}

.tab[data-tab] {
  display: none;
  &.active {
    display: block;
  }
}

.flex-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flex-vertical {
  display: flex;
  flex-direction: column;
}
.black-label {
  background-color: $almost_black;
  color: $almost_white;
  font-size: 21px;
  text-align: center;
  padding: 0px 5px;
  height: 30px !important;
  text-transform: capitalize;
  font-family: Kirsty, serif;
}

.gray-label {
  background-color: $gray;
  color: $almost_black;
  font-size: 21px;
  text-align: center;
  padding: 0px 5px;
  height: 30px !important;
  text-transform: capitalize;
  font-family: Kirsty, serif;
}

.label-stripe {
  text-transform: uppercase;
  background-color: $almost_black;
  color: $almost_white;
  margin-bottom: 10px;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  font-weight: bold;
}

.label-stripe-gray {
  text-transform: uppercase;
  background-color: $gray;
  margin-bottom: 10px;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  font-weight: bold;
}

.editor,
.editor-content {
  min-height: 150px;
}

.description {
  font-style: italic;
}

/* Shared ability list styling */
.ability-list {
  .ability-block {
    display: flex;
    align-items: flex-start;
    position: relative;
    padding: 5px 5px 5px 10px;
    width: 100%;
    box-sizing: border-box;

    &:nth-child(even) {
      background-color: rgba(255, 255, 255, 0.3);
    }

    // IMPORTANT: Firefox has a known bug with flex containers + checkbox inputs where
    // it miscalculates width: max-content, causing overflow. Using inline-block here
    // instead of flex/inline-flex sidesteps this issue entirely and works correctly
    // in all browsers. DO NOT change to display: flex without extensive testing.
    // See CONTRIBUTING.md "Firefox flexbox + checkbox width calculation bug" for details.
    .ability-checkboxes {
      display: inline-block;
      white-space: nowrap;
      margin-right: 0.5em;
      vertical-align: top;

      .join-line {
        border-bottom: 2px solid var(--alt-border-strong);
        width: 0.5em;
        height: 1px;
        display: inline-block;
        vertical-align: top;
        margin-top: 0.5em;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
        line-height: 0;
      }

      :is(.ability-checkbox, .crew-upgrade-checkbox, .crew-ability-checkbox) {
        margin: 0;
        padding: 0;
        position: relative;
        width: 1em;
        min-width: 1em;
        height: 1em;
        display: inline-block;
        vertical-align: top;
      }
    }
  }

  label {
    margin: 0;
    line-height: 0.8em;
    font-size: 1.2em;
    margin-bottom: 6px;
    padding-right: 1em;

    .ability-name {
      font-weight: bold;
      font-variant: small-caps;
    }

    .ability-description p {
      display: inline;
    }
  }
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

// Lock/unlock and alias toggles (shared across sheets)
.sheet-wrapper :is(.toggle-allow-edit, .toggle-alias-display) {
  display: inline-block;
  padding: 4px 6px;
  margin: 0 var(--space-2);
  background: $green;
  color: rgba(255, 255, 255, 0.6);
  border-radius: 3px;
  cursor: pointer;
  transition: color 0.15s ease;

  &:hover {
    color: #fff;
  }

  i {
    width: 100%;
    text-align: center;
  }
}

.sheet-wrapper .toggle-allow-edit {
  .fa-lock-open {
    display: none;
  }
}

.sheet-wrapper.allow-edit .sheet-toggles .toggle-allow-edit {
  background-color: $red;

  .fa-lock-open {
    display: inline-block;
  }
  .fa-lock {
    display: none;
  }
}

// Toggle container positioning
.sheet-wrapper .sheet-toggles {
  position: absolute;
  top: var(--space-1);
  right: var(--space-1);
}

i {
  &.nullifier {
    @include changeable(
      $transition-period,
      $hover-brightness,
      $hover-opacity,
      $red
    );
  }
}

#loadout {
  select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    box-shadow: none;
    border: none;
    cursor: pointer;
    background: url("data:image/svg+xml;utf8,<svg fill='white' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>")
      no-repeat right;
    padding: 0 20px 0 0;
    margin: 0.1em -6px 0 0;
    background-color: $almost_black;
    font-family: Georgia, "Bitstream Charter", "Times New Roman", serif;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    text-align: right;

    option {
      color: white;
    }
  }

  select:hover {
    color: red;
  }
}

#abilities,
#loadout,
#faction-items {
  .item-name {
    width: 100px;
    margin-left: 10px;
  }
  .item-body {
    width: auto;
  }
  .item-description {
    width: 260px;
  }
}

td {
  padding: 5px;
}

// Shared italic note/caption style (used by character XP notes and crew coins caption)
.xp-notes,
.coins-caption {
  margin: 0;
  padding: 0;
  font-style: italic;
  font-size: 0.85em;
  line-height: 1.2em;
}
