// ITEM
&{
  justify-content: space-between;

  section{
    padding-bottom: 1em;

    input.item_field{
      font-size: 1.2em;
    }

    header{
      width: 100%;
      label{
        display: block;
        background-color: #000;
        margin-bottom: 0;
        color: #fff;
        font-family: Kirsty, serif;
        font-size: 1rem;
        padding: 2px;
      }
    }
  }


}

