<div>
    <form class="{{cssClass}}" autocomplete="off">
        {{> "modules/bitd-alternate-sheets/templates/parts/item-header.html"}}
        <section class="flex-vertical">
            <h3>Starting Skills</h3>
            {{> "modules/bitd-alternate-sheets/templates/parts/attributes.html" owner=this.item isitem=true attributes=attributes}}
            <label class="label-stripe">{{localize "BITD.Description"}}</label>
            {{log this}}
            <input type="text" name="system.description" value="{{description}}" />
            <!-- {{editor system.description target="system.description" button=true editable=editable engine="prosemirror"}} -->
            <label class="label-stripe">{{localize "BITD.ExpClues"}}</label>
            <input type="text" name="system.experience_clues" value="{{experience_clues}}" />
            <!-- {{editor system.experience_clues target="system.experience_clues" button=true editable=editable engine="prosemirror"}} -->

        {{#if isGM}}
            {{> "modules/bitd-alternate-sheets/templates/parts/active-effects.html"}}</div>
        {{/if}}
        </section>
    </form>
</div>