// Shared color and timing variables
$lightgray: #bbb;
$darkgray: #666;
$gray: #999;
$red: #cc0000;
$almost_black: #191813;
$almost_white: #eeefff;
$gold: #daa520;
$green: #008000;
$light_green: #12a012;
$blue: #04578f;

// Transition hints for editable elements
$transition-period: 0.2s;
$hover-opacity: 0.9;
$hover-brightness: 0.8;
