<div class="coins" class="flex-horizontal">

  <div class="hand">
    <div class="stripe">
      {{!--<label class="radio-toggle" for="coins-{{actor._id}}-hands-0">{{localize "BITD.Coin"}}</label>--}}
      <span>{{localize "BITD.Coin"}}</span>
    </div>
    <div class="coins coins-hands">
      {{#multiboxes data.coins}}
      <input class="radio-toggle" type="radio" id="coins-{{actor._id}}-hands-0" name="data.coins" value="0" checked="checked">
      <input class="radio-toggle" type="radio" id="coins-{{actor._id}}-hands-1" name="data.coins" value="1">
      <label class="radio-toggle" for="coins-{{actor._id}}-hands-1"></label>
      <input class="radio-toggle" type="radio" id="coins-{{actor._id}}-hands-2" name="data.coins" value="2">
      <label class="radio-toggle" for="coins-{{actor._id}}-hands-2"></label>
      <input class="radio-toggle" type="radio" id="coins-{{actor._id}}-hands-3" name="data.coins" value="3">
      <label class="radio-toggle" for="coins-{{actor._id}}-hands-3"></label>
      <input class="radio-toggle" type="radio" id="coins-{{actor._id}}-hands-4" name="data.coins" value="4">
      <label class="radio-toggle" for="coins-{{actor._id}}-hands-4"></label>
      {{/multiboxes}}
    </div>
  </div><div class="stash">
    <div class="stripe">
      {{!--<label class="radio-toggle" for="coins-{{actor._id}}-stashed-0">{{localize "BITD.Stash"}}</label>--}}
      <span>{{localize "BITD.Stash"}}</span>
    </div>
    <div class="coins coins-stashed">
      {{#multiboxes data.coins_stashed}}
      <input class="radio-toggle" type="radio" id="coins-{{actor._id}}-stashed-0" name="data.coins_stashed" value="0" checked="checked">
      <input class="radio-toggle" type="radio" id="coins-{{actor._id}}-stashed-1" name="data.coins_stashed" value="1">
      <label class="radio-toggle" for="coins-{{actor._id}}-stashed-1"></label>
      <input class="radio-toggle" type="radio" id="coins-{{actor._id}}-stashed-2" name="data.coins_stashed" value="2">
      <label class="radio-toggle" for="coins-{{actor._id}}-stashed-2"></label>
      <input class="radio-toggle" type="radio" id="coins-{{actor._id}}-stashed-3" name="data.coins_stashed" value="3">
      <label class="radio-toggle" for="coins-{{actor._id}}-stashed-3"></label>
      <input class="radio-toggle" type="radio" id="coins-{{actor._id}}-stashed-4" name="data.coins_stashed" value="4">
      <label class="radio-toggle" for="coins-{{actor._id}}-stashed-4"></label>
      <input class="radio-toggle" type="radio" id="coins-{{actor._id}}-stashed-5" name="data.coins_stashed" value="5">
      <label class="radio-toggle" for="coins-{{actor._id}}-stashed-5"></label>
      <input class="radio-toggle" type="radio" id="coins-{{actor._id}}-stashed-6" name="data.coins_stashed" value="6">
      <label class="radio-toggle" for="coins-{{actor._id}}-stashed-6"></label>
      <input class="radio-toggle" type="radio" id="coins-{{actor._id}}-stashed-7" name="data.coins_stashed" value="7">
      <label class="radio-toggle" for="coins-{{actor._id}}-stashed-7"></label>
      <input class="radio-toggle" type="radio" id="coins-{{actor._id}}-stashed-8" name="data.coins_stashed" value="8">
      <label class="radio-toggle" for="coins-{{actor._id}}-stashed-8"></label>
      <input class="radio-toggle" type="radio" id="coins-{{actor._id}}-stashed-9" name="data.coins_stashed" value="9">
      <label class="radio-toggle" for="coins-{{actor._id}}-stashed-9"></label>

      <input class="radio-toggle" type="radio" id="coins-{{actor._id}}-stashed-10" name="data.coins_stashed" value="10">
      <label class="radio-toggle" for="coins-{{actor._id}}-stashed-10"></label>
      <input class="radio-toggle" type="radio" id="coins-{{actor._id}}-stashed-11" name="data.coins_stashed" value="11">
      <label class="radio-toggle" for="coins-{{actor._id}}-stashed-11"></label>
      <input class="radio-toggle" type="radio" id="coins-{{actor._id}}-stashed-12" name="data.coins_stashed" value="12">
      <label class="radio-toggle" for="coins-{{actor._id}}-stashed-12"></label>
      <input class="radio-toggle" type="radio" id="coins-{{actor._id}}-stashed-13" name="data.coins_stashed" value="13">
      <label class="radio-toggle" for="coins-{{actor._id}}-stashed-13"></label>
      <input class="radio-toggle" type="radio" id="coins-{{actor._id}}-stashed-14" name="data.coins_stashed" value="14">
      <label class="radio-toggle" for="coins-{{actor._id}}-stashed-14"></label>
      <input class="radio-toggle" type="radio" id="coins-{{actor._id}}-stashed-15" name="data.coins_stashed" value="15">
      <label class="radio-toggle" for="coins-{{actor._id}}-stashed-15"></label>
      <input class="radio-toggle" type="radio" id="coins-{{actor._id}}-stashed-16" name="data.coins_stashed" value="16">
      <label class="radio-toggle" for="coins-{{actor._id}}-stashed-16"></label>
      <input class="radio-toggle" type="radio" id="coins-{{actor._id}}-stashed-17" name="data.coins_stashed" value="17">
      <label class="radio-toggle" for="coins-{{actor._id}}-stashed-17"></label>
      <input class="radio-toggle" type="radio" id="coins-{{actor._id}}-stashed-18" name="data.coins_stashed" value="18">
      <label class="radio-toggle" for="coins-{{actor._id}}-stashed-18"></label>
      <input class="radio-toggle" type="radio" id="coins-{{actor._id}}-stashed-19" name="data.coins_stashed" value="19">
      <label class="radio-toggle" for="coins-{{actor._id}}-stashed-19"></label>

      <input class="radio-toggle" type="radio" id="coins-{{actor._id}}-stashed-20" name="data.coins_stashed" value="20">
      <label class="radio-toggle" for="coins-{{actor._id}}-stashed-20"></label>
      <input class="radio-toggle" type="radio" id="coins-{{actor._id}}-stashed-21" name="data.coins_stashed" value="21">
      <label class="radio-toggle" for="coins-{{actor._id}}-stashed-21"></label>
      <input class="radio-toggle" type="radio" id="coins-{{actor._id}}-stashed-22" name="data.coins_stashed" value="22">
      <label class="radio-toggle" for="coins-{{actor._id}}-stashed-22"></label>
      <input class="radio-toggle" type="radio" id="coins-{{actor._id}}-stashed-23" name="data.coins_stashed" value="23">
      <label class="radio-toggle" for="coins-{{actor._id}}-stashed-23"></label>
      <input class="radio-toggle" type="radio" id="coins-{{actor._id}}-stashed-24" name="data.coins_stashed" value="24">
      <label class="radio-toggle" for="coins-{{actor._id}}-stashed-24"></label>
      <input class="radio-toggle" type="radio" id="coins-{{actor._id}}-stashed-25" name="data.coins_stashed" value="25">
      <label class="radio-toggle" for="coins-{{actor._id}}-stashed-25"></label>
      <input class="radio-toggle" type="radio" id="coins-{{actor._id}}-stashed-26" name="data.coins_stashed" value="26">
      <label class="radio-toggle" for="coins-{{actor._id}}-stashed-26"></label>
      <input class="radio-toggle" type="radio" id="coins-{{actor._id}}-stashed-27" name="data.coins_stashed" value="27">
      <label class="radio-toggle" for="coins-{{actor._id}}-stashed-27"></label>
      <input class="radio-toggle" type="radio" id="coins-{{actor._id}}-stashed-28" name="data.coins_stashed" value="28">
      <label class="radio-toggle" for="coins-{{actor._id}}-stashed-28"></label>
      <input class="radio-toggle" type="radio" id="coins-{{actor._id}}-stashed-29" name="data.coins_stashed" value="29">
      <label class="radio-toggle" for="coins-{{actor._id}}-stashed-29"></label>

      <input class="radio-toggle" type="radio" id="coins-{{actor._id}}-stashed-30" name="data.coins_stashed" value="30">
      <label class="radio-toggle" for="coins-{{actor._id}}-stashed-30"></label>
      <input class="radio-toggle" type="radio" id="coins-{{actor._id}}-stashed-31" name="data.coins_stashed" value="31">
      <label class="radio-toggle" for="coins-{{actor._id}}-stashed-31"></label>
      <input class="radio-toggle" type="radio" id="coins-{{actor._id}}-stashed-32" name="data.coins_stashed" value="32">
      <label class="radio-toggle" for="coins-{{actor._id}}-stashed-32"></label>
      <input class="radio-toggle" type="radio" id="coins-{{actor._id}}-stashed-33" name="data.coins_stashed" value="33">
      <label class="radio-toggle" for="coins-{{actor._id}}-stashed-33"></label>
      <input class="radio-toggle" type="radio" id="coins-{{actor._id}}-stashed-34" name="data.coins_stashed" value="34">
      <label class="radio-toggle" for="coins-{{actor._id}}-stashed-34"></label>
      <input class="radio-toggle" type="radio" id="coins-{{actor._id}}-stashed-35" name="data.coins_stashed" value="35">
      <label class="radio-toggle" for="coins-{{actor._id}}-stashed-35"></label>
      <input class="radio-toggle" type="radio" id="coins-{{actor._id}}-stashed-36" name="data.coins_stashed" value="36">
      <label class="radio-toggle" for="coins-{{actor._id}}-stashed-36"></label>
      <input class="radio-toggle" type="radio" id="coins-{{actor._id}}-stashed-37" name="data.coins_stashed" value="37">
      <label class="radio-toggle" for="coins-{{actor._id}}-stashed-37"></label>
      <input class="radio-toggle" type="radio" id="coins-{{actor._id}}-stashed-38" name="data.coins_stashed" value="38">
      <label class="radio-toggle" for="coins-{{actor._id}}-stashed-38"></label>
      <input class="radio-toggle" type="radio" id="coins-{{actor._id}}-stashed-39" name="data.coins_stashed" value="39">
      <label class="radio-toggle" for="coins-{{actor._id}}-stashed-39"></label>
      <input class="radio-toggle" type="radio" id="coins-{{actor._id}}-stashed-40" name="data.coins_stashed" value="40">
      <label class="radio-toggle" for="coins-{{actor._id}}-stashed-40"></label>
      {{/multiboxes}}
    </div>

  </div>

</div>