<div class="character-harm harm">
  <div class="grid-lines"></div>
  <header class="harm">{{localize "BITD.Harm"}}</header>
  <header class="effect">{{localize "BITD.Effect"}}</header>
  <header class="healing">{{localize "BITD.Healing"}}</header>
  <span class="rownum3">3</span
  ><input
    class="heavy"
    type="text"
    id="character-{{actor._id}}-harm-3-1"
    name="system.harm.heavy.one"
    value="{{system.harm.heavy.one}}"
  /><span class="effect-text heavy">{{localize "BITD.NeedHelp"}}</span>
  <span class="rownum2">2</span
  ><input
    class="medium1"
    type="text"
    id="character-{{actor._id}}-harm-2-1"
    name="system.harm.medium.one"
    value="{{system.harm.medium.one}}"
  /><input
    class="medium2"
    type="text"
    id="character-{{actor._id}}-harm-2-2"
    name="system.harm.medium.two"
    value="{{system.harm.medium.two}}"
  /><span class="effect-text medium">{{localize "bitd-alt.MinusOneDie"}}</span>
  <span class="rownum1">1</span
  ><input
    class="light1"
    type="text"
    id="character-{{actor._id}}-harm-1-1"
    name="system.harm.light.one"
    value="{{system.harm.light.one}}"
  /><input
    class="light2"
    type="text"
    id="character-{{actor._id}}-harm-1-2"
    name="system.harm.light.two"
    value="{{system.harm.light.two}}"
  /><span class="effect-text light">{{localize "BITD.LessEffect"}}</span>
  <div class="clocks clocks-4 healing-clock">
    {{{blades-clock "system.healing_clock.value" 4 system.healing_clock.value (concat
    "healing-" actor._id)}}}
  </div>
  <div class="armor-use">
    <label for="armor-use-armor-{{actor._id}}" class="armorlabel"
      >{{localize "BITD.Armor"}}</label
    >
    <input
      id="armor-use-armor-{{actor._id}}"
      type="checkbox"
      name="system.armor-uses.armor"
      {{checked
      system.armor-uses.armor}}
      class="armorinput"
    />
    <label for="armor-use-heavy-{{actor._id}}" class="heavylabel"
      >{{localize "BITD.Heavy"}}</label
    >
    <input
      id="armor-use-heavy-{{actor._id}}"
      type="checkbox"
      name="system.armor-uses.heavy"
      {{checked
      system.armor-uses.heavy}}
      class="heavyinput"
    />
    <label for="armor-use-special-{{actor._id}}" class="speciallabel"
      >{{localize "BITD.Special"}}</label
    >
    <input
      id="armor-use-special-{{actor._id}}"
      type="checkbox"
      name="system.armor-uses.special"
      {{checked
      system.armor-uses.special}}
      class="specialinput"
    />
  </div>
</div>
